<section style="text-align: center;">
    <title>Example Statement</title>
    <div>
        <form id="editForm" name="editForm" onsubmit="">
            <input type="text" name="name" placeholder="Name" id="name">
            <input type="text" name="email" placeholder="Email" id="email">
            <input type="text" name="phone" placeholder="Phone" id="phone">
            <input type="text" name="phone" placeholder="Phone" id="age">
            <button type="button" onclick="AddData()">Submit</button>
        </form>
    </div>
    
    <h1 onclick="GetData()">Testing Works!</h1>

    <h1 onclick="RunQuery()">Run Query</h1>
</section>
