<section>
    <div class="container">
    <div class="ml-3 mt-3">
        <h2 id="contactl">Contact</h2>
        <p id="sendmessage">use information below or send a message</p>
    </div>
    <div class="row ml-3">
        <div class="col-md-4 col-sm-6 border-md-right border-md-left">
        <div class="my-2">
            <i class="fas fa-user"></i>
            <span id="gio">Giorgi Sepiani</span>
        </div>
        <div class="my-2">
            <i class="fas fa-phone-alt"></i>
        <span>+995 597 543 354</span>
        </div>
        </div>
        <div class="col-md-4 col-sm-6 border-sm-right">
        <div class="my-2">
            <i class="fas fa-user"></i>
            <span id="saman">Saman Mellati (Whatsapp)</span>
        </div>
        <div class="my-2">
            <i class="fas fa-phone-alt"></i>
        <span>+98 919 222 2313</span>
        </div>
        </div>
        <div class="col-md-4 border-md-right">
        <div class="mt-3">
            <i class="fas fa-map-marker-alt"></i>
            <span id="address">No.1 Rustaveli st.</span>
        </div>
        </div>
    </div>
    <div>
    <div class="row mx-2 my-4">
        <form action="#" class="col-sm-6">
        <div class="form-group">
            <input id="name" class="form-control" placeholder="Name" type="text">
        </div>
        <div class="form-group">
            <input id="email" class="form-control" placeholder="Email" type="email">
        </div>
        <div class="form-group">
            <textarea id="message" class="form-control" placeholder="Message" name="" id="" cols="30" rows="5"></textarea>
        </div>
        <input id="send" class="btn btn-primary col-3" type="submit" value="Send">
        </form>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1379.0853647437784!2d44.70155851606643!3d41.69917270897748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404474971c96ef8b%3A0x72da060b58915bc9!2s1%20Rustaveli%20St%2C%20T&#39;bilisi!5e0!3m2!1sen!2sge!4v1649067906996!5m2!1sen!2sge" height="450" style="border:0; float: left; width: 500px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
    </div>
</section>