<section>
    <div class="container-fluid d-flex flex-wrap border-bottom">
        <label class="my-auto" id="lsort" for="sort">Sort by :</label>
        <input class="form-control col-1 ml-3 my-auto" list="sortby" id="sort" placeholder="Sort by" value="latest" onmousedown="if (document.getElementById('sort').value != '') document.getElementById('sort').value='';">
        <datalist id="sortby">
            <option id="Slatest" value="latest"></option>
            <option id="Soldest" value="oldest"></option>
            <option id="Scheap" value="cheapest"></option>
            <option id="SExpensive" value="most expensive"></option>
        </datalist>

            <form class="input-group rounded-pil justify-content-center col-sm-10 col-12 my-2 mx-auto" onsubmit="GetProduct()" action="#">
                <input class="form-control col-sm-7 rounded" id="searchbox123" type="text" placeholder="Enter an adress, neighborhood, city, or ZIP code" >
                <button class="btn rounded-circle text-primary border-0" type="submit"><i class="fas fa-search" id="search" onclick="GetProduct()"></i></button>
            </form>

            <div class="mx-1 dropdown d-inline-block my-auto">
            <a class="btn btn-primary" id="Sprice" href="" data-toggle="dropdown">Price</a>
            <div class="dropdown-menu" id="dm">
                <div class="container" style="width: 50vh;">
                    <div class="row">
                    <div class="col-5">
                        <input type="text" id="ipmin" class="form-control my-2" placeholder="Enter">
                        <select class="form-control overflow-hidden my-2" size="10" onclick="document.getElementById('ipmin').value = document.getElementById('pmin').value;" id="pmin">
                        <option id="NoMin1" value="">Not min</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="5000">5000</option>
                        <option value="10000">10,000</option>
                        <option value="20000">20,000</option>
                        <option value="30000">30,000</option>
                        <option value="50000">50,000</option>
                        <option value="200000">200,000</option>
                        <option value="400000">400,000</option>
                        </select>
                        <script>
                        document.getElementById("dm").addEventListener("click" , (e)=>{
                            e.stopPropagation();
                        });
                        </script>
                    </div>
                    <select class="col-2 form-control align-self-start mt-2" id="currency">
                        <option selected value="$">$</option>
                        <option value="₾">₾</option>
                    </select>
                    <div class="col-5">
                        <input type="text" id="ipmax" class="form-control my-2" placeholder="Enter">
                        <select class="form-control overflow-hidden my-2" size="10" onclick="document.getElementById('ipmax').value = document.getElementById('pmax').value;" id="pmax">
                        <option id="NoMax1" value="">Not max</option>
                        <option value="1000">1000</option>
                        <option value="5000">5000</option>
                        <option value="10000">10,000</option>
                        <option value="20000">20,000</option>
                        <option value="30000">30,000</option>
                        <option value="50000">50,000</option>
                        <option value="200000">200,000</option>
                        <option value="400000">400,000</option>
                        <option value="400000">800,000</option>
                        </select>
                    </div>
                    <a class=" form-control btn btn-outline-primary" href="#" id="searchbtn1" onclick="GetProduct()" role="button" type="submit">search</a>
                    </div>
                </div>
            </div>
            </div>


            <div class="mx-1 dropdown d-inline-block my-auto">
            <a class="btn btn-primary" id="SArea" href="" data-toggle="dropdown">Area</a>
            <div class="dropdown-menu" id="dm1">
                <div class="container" style="width: 50vh;">
                    <div class="row">
                    <div class="col-6">
                        <input type="text" id="iAmin" class="form-control my-2" placeholder="Enter">
                        <select class="form-control overflow-hidden my-2" size="10" onclick="document.getElementById('iAmin').value = document.getElementById('Amin').value;" id="Amin">
                        <option id="NoMin2" value="">Not min</option>
                        <option value="20">20 m²</option>
                        <option value="25">25 m²</option>
                        <option value="30">30 m²</option>
                        <option value="40">40 m²</option>
                        <option value="50">50 m²</option>
                        <option value="60">60 m²</option>
                        <option value="90">90 m²</option>
                        <option value="100">100 m²</option>
                        <option value="200">200 m²</option>
                        </select>
                        <script>
                        document.getElementById("dm1").addEventListener("click" , (e)=>{
                            e.stopPropagation();
                        });
                        </script>
                    </div>
                    <div class="col-6">
                        <input type="text" id="iAmax" class="form-control my-2" placeholder="Enter">
                        <select class="form-control overflow-hidden my-2" size="10" onclick="document.getElementById('iAmax').value = document.getElementById('Amax').value;" id="Amax">
                        <option id="NoMax2" value="">Not max</option>
                        <option value="25">25 m²</option>
                        <option value="30">30 m²</option>
                        <option value="40">40 m²</option>
                        <option value="50">50 m²</option>
                        <option value="60">60 m²</option>
                        <option value="90">90 m²</option>
                        <option value="150">150 m²</option>
                        <option value="200">200 m²</option>
                        <option value="250">250 m²</option>
                        </select>
                    </div>
                    <a class=" form-control btn btn-outline-primary" href="#" id="searchbtn2" onclick="GetProduct()" role="button" type="submit">search</a>
                    </div>
                </div>
            </div>
            </div>
    </div>
</section>
<!--/searchbox-->
<!--Content-->
<section>
    <div class="container-fluid">
        <div class="row d-flex" id="prod_container"></div>
    </div>
    <ul class="pagination justify-content-center">
        <li class="page-item"><a href="" class="page-link"><</a></li>
        <li class="page-item active"><a href="" class="page-link">1</a></li>
        <li class="page-item disabled"><a href="" class="page-link">2</a></li>
        <li class="page-item disabled"><a href="" class="page-link">3</a></li>
        <li class="page-item"><a href="" class="page-link">></a></li>
    </ul>
    
</section>